.btn.btn-sm {
  font-size: 1rem;
  padding: 4px 8px;
  display: inline-block;
  margin: 1px;
  .fa {
    font-size: 1.1rem;
  }
}
.acts-td{
  padding: 8px 2px 8px 0;
  text-align: right;
}
label>span{
  color: red;
}

.form-help-text-area{
  bottom: -1px;
}
.md-form{
  overflow: inherit !important;
}
.ibox-content{
  overflow-x: auto;
}
.td-ava{
width: 50px;
  padding: 0;
  img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 3px;
  }
}

img.form-ava{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: none;
  display: block;
  margin: 0 auto;
}
