.logo {
  background-image: url(../../../../../assets/img/logo.png);
  background-size: 170px;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 72px;
  width: 100%;
  margin: 0;
  display: block;
  background-position: 20px;
  background-color: #0f6ab4;
}
