<!--Main Navigation-->
<header>
  <!-- Sidebar navigation -->

  <div id="slide-out" class="side-nav fixed " style="transform: translateX(0%);">
    <ul  class="custom-scrollbar list-unstyled">
      <li class="nav-header">
        <div class="profile-element" >
          <div class="row">
            <div class="col-3 p-0">
              <img alt="image" class="img-circle" src="../../assets/img/profile-smal-o.png">
            </div>
            <div class="col-9">
              <h3 class="rx-user">John Smith</h3>
                            <span class="rx-email">
                                john-smitch@mail.ca
                            </span>
            </div>
          </div>
        </div>
      </li>


      <!-- Side navigation links -->
      <li routerLinkActive = "active">
        <a [routerLink]="['/users']" class="">
          <i class="fa fa-address-book-o" aria-hidden="true"></i>
          <span class="nav-label">Users List</span>
        </a>
      </li>

      <li routerLinkActive = "active">
        <a [routerLink]="['/reports']" class=""><i class="fa fa-th-large"></i>
          <span class="nav-label">Reports</span>
        </a>
      </li>
      <li routerLinkActive = "active">
        <a [routerLink]="['/setups']" class=""><i class="fa fa-gear"></i>
          <span class="nav-label">Administration</span>
        </a>
      </li>
      <!--/. Side navigation links -->
    </ul>
    <div class="sidenav-bg mask-strong"></div>
  </div>
</header>
