.pt-0{
  padding-top: 0;
}
.pt-10{
   padding-top: 10px;
 }
.pt-15{
  padding-top: 15px;
}
.pt-20{
  padding-top: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mt-20{
  margin-top: 20px;
}
.p-0{
  padding: 0;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec;
}
.cursor-pointer{
  cursor: pointer;
}
