.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.tr-clicked {
  cursor: pointer;
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
  background: #0f6ab4;
  color: #fff!important;
}
.table-hover>tbody>tr.active:hover>td, .table-hover>tbody>tr.active:hover>th, .table-hover>tbody>tr:hover>.active, .table-hover>tbody>tr>td.active:hover, .table-hover>tbody>tr>th.active:hover {
  color: #0f6ab4;
  background: transparent;
}
table.table-hover tbody tr.tr-clicked:hover {
  background-color: #0f6ab4;
  color: #fff!important;
}
