// Colors
$gray-100: #f8f9fa;
$gray-200: #eee;
$gray-300: #ddd;
$gray-400: #ccc;
$gray-500: #aaa;
$gray-600: #888;
$gray-700: #555;
$gray-800: #333;
$gray-900: #222;

$red: #ff5652;
$pink: #ff85af;
$purple: #d559ea;
$deep-purple: #673AB7;
$indigo: #196cb0;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #39bbb0;
$green: #32c787;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #ffc107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;
$black: #000000;
$white: #FFFFFF;


// Typography
$font-family-sans-serif: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-muted: #9c9c9c;
$font-weight-bold: 500;

// base
$min-body-width: 300px;

$text-color: #676a6c;
$background-color: #fff;
$border-box: 1px solid #e7eaec;
$border-radius: 3px;
$sm-size-text: 11px;
$font-size-root: 13px;

// forms

$label-color: #999;

$width-nav: 220px;
