
  <div class="row border-bottom">
    <nav class="navbar static-top bg-white d-flex justify-content-between">
      <div class="navbar-header p-2">
        <span minimaliza-sidebar=""><a class="navbar-minimalize minimalize-styl-2 btn btn-block btn-outline-primary" mdbRippleRadius  (click)="minimalize()"><i class="fa fa-bars"></i></a></span>
      </div>
      <ul class="nav navbar-top-links p-2 ml-auto">
        <li>
          <a (click)="doLogout()" class="btn btn-block btn-outline-primary" mdbRippleRadius> <i class="fa fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </nav>
  </div>
